<section dir="rtl" class=" lastNewsSec mx-auto">
    <span uk-icon="icon:file-text;ratio:1.4" class="m-2"></span>
    <h4 class="text-danger d-inline _MyFont fw-bold">اخرین اخبار ارسالی</h4>
    <div class="lastNewsSecBody" uk-scrollspy="target: > div; cls: uk-animation-slide-right; delay: 300;"
         dir="rtl">
        <!--Each Item start-->
        <div class="uk-child-width-1-1">
            <header class="d-flex">
                <img class="rounded d-inline-block" src="~/Resources/thumb.png" alt="">
                <span class="d-inline-block flex-fill">
                    <h6 class="w-100 d-flex">
                        <a href="" class="text-break">
                            خبر یک
                            خبر یک
                            خبر یک
                            خبر یک
                            خبر یک
                            خبر یک
                            خبر یک
                            خبر یک
                            خبر یک
                            خبر یک
                            خبر یک
                            خبر یک
                            خبر یک
                            خبر یک
                        </a>
                    </h6>
                    <p>
                        یمتبمکیستبلهیسحخبهح حهبعدخهسیعخهبلعیخهس یب9لعیب یبجعلجیبدخلعخبهیلعخه
                        یبخهعلادهخجیبجخهت
                    </p>
                </span>
            </header>
            <div class="mt-2 _MyFont p-0 pt-1 d-flex justify-content-between">
                <span class="text-danger">تاریخ انتشار:</span>
                <span class="me-auto d-flex">
                    <span class="_hover-green _cursor-pointor _MyFont">1402/8/12 23:47</span>
                    <span uk-icon="icon:calendar;ratio:1.2;"></span>
                </span>
            </div>
        </div>
        <!--Each Item end-->
        <!--Each Item start-->
        <div class="uk-child-width-1-1">
            <header class="d-flex">
                <img class="rounded d-inline-block" src="~/Resources/thumb.png" alt="">
                <span class="d-inline-block flex-fill">
                    <h6 class="w-100 d-flex">
                        <a href="" class="text-break">
                            خبر یک
                            خبر یک
                            خبر یک
                            خبر یک
                            خبر یک
                            خبر یک
                            خبر یک
                            خبر یک
                            خبر یک
                            خبر یک
                            خبر یک
                            خبر یک
                            خبر یک
                            خبر یک
                        </a>
                    </h6>
                    <p>
                        یمتبمکیستبلهیسحخبهح حهبعدخهسیعخهبلعیخهس یب9لعیب یبجعلجیبدخلعخبهیلعخه
                        یبخهعلادهخجیبجخهت
                    </p>
                </span>
            </header>
            <div class="mt-2 _MyFont p-0 pt-1 d-flex justify-content-between">
                <span class="text-danger">تاریخ انتشار:</span>
                <span class="me-auto d-flex">
                    <span class="_hover-green _cursor-pointor _MyFont">1402/8/12 23:47</span>
                    <span uk-icon="icon:calendar;ratio:1.2;"></span>
                </span>
            </div>
        </div>
        <!--Each Item end-->
        <!--Each Item start-->
        <div class="uk-child-width-1-1">
            <header class="d-flex">
                <img class="rounded d-inline-block" src="~/Resources/thumb.png" alt="">
                <span class="d-inline-block flex-fill">
                    <h6 class="w-100 d-flex">
                        <a href="" class="text-break">
                            خبر یک
                            خبر یک
                            خبر یک
                            خبر یک
                            خبر یک
                            خبر یک
                            خبر یک
                            خبر یک
                            خبر یک
                            خبر یک
                            خبر یک
                            خبر یک
                            خبر یک
                            خبر یک
                        </a>
                    </h6>
                    <p>
                        یمتبمکیستبلهیسحخبهح حهبعدخهسیعخهبلعیخهس یب9لعیب یبجعلجیبدخلعخبهیلعخه
                        یبخهعلادهخجیبجخهت
                    </p>
                </span>
            </header>
            <div class="mt-2 _MyFont p-0 pt-1 d-flex justify-content-between">
                <span class="text-danger">تاریخ انتشار:</span>
                <span class="me-auto d-flex">
                    <span class="_hover-green _cursor-pointor _MyFont">1402/8/12 23:47</span>
                    <span uk-icon="icon:calendar;ratio:1.2;"></span>
                </span>
            </div>
        </div>
        <!--Each Item end-->
    </div>
</section>