<div class="carousel-inner">
    <div class="carousel-item active">
            <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                <div class="d-none d-sm-block uk-flex-last@s uk-card-media-right uk-cover-container">
                <a href="" class="text-decoration-none">
                    <img src="~/Resources/thumb.png" class="w-100"  uk-cover>
                    <canvas width="600" height="400"></canvas>
                </a>
                </div>
                <div>
                    <div class="uk-card-body">
                    <a href="" class="text-decoration-none">
                        <h3 class="uk-card-title">Media Right</h3>
                    </a>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt.
                        </p>
                    </div>
                </div>
            </div>
    </div>
    <div class="carousel-item">
        <a href="" class="text-decoration-none">
            <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                <div class="d-none d-sm-block uk-flex-last@s uk-card-media-right uk-cover-container">
                    <img src="~/Resources/thumb.png" class="w-100"  uk-cover>
                    <canvas width="600" height="400"></canvas>
                </div>
                <div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Media Right</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt.
                        </p>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="carousel-item">
        <a href="" class="text-decoration-none">
            <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                <div class="d-none d-sm-block uk-flex-last@s uk-card-media-right uk-cover-container">
                    <img src="~/Resources/NoPofile.jpg" class="w-100"  uk-cover>
                    <canvas width="600" height="400"></canvas>
                </div>
                <div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Media Right</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt.
                        </p>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#ImportantNewsCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bg-primary"></span>
    </button>                                             
    <button class="carousel-control-next" type="button" data-bs-target="#ImportantNewsCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon bg-primary"></span>
    </button>
</div>