
IsnaNews/.vs/IsnaNews/FileContentIndex/85a14dd2-ffed-4efb-a1f9-cce431e10cf1.vsidx
IsnaNews/.vs/IsnaNews/config/applicationhost.config
IsnaNews/.vs/IsnaNews/FileContentIndex/00f63caf-bf50-4f9e-8353-0ea726aeb3ca.vsidx
IsnaNews/.vs/IsnaNews/FileContentIndex/5da0b0de-e11a-4fe5-bd7c-4ef5e0ac614f.vsidx
IsnaNews/.vs/IsnaNews/FileContentIndex/6ab76776-8bf9-43b7-9c99-251b53cddc96.vsidx
IsnaNews/.vs/IsnaNews/FileContentIndex/c707626e-12c1-43bb-a558-70cd0d271863.vsidx
IsnaNews/.vs/IsnaNews/v17/.futdcache.v2
IsnaNews/.vs/IsnaNews/v17/.suo
IsnaNews/.vs/IsnaNews/v17/HierarchyCache.v1.txt
IsnaNews/.vs/ProjectEvaluation/isnanews.metadata.v7.bin
IsnaNews/.vs/ProjectEvaluation/isnanews.projects.v7.bin
/IsnaNews/ServiceLayer/bin
/IsnaNews/ServiceLayer/obj
/IsnaNews/DataLayer/bin
/IsnaNews/.vs
/IsnaNews/DataLayer/bin/Debug
/IsnaNews/DataLayer/bin/Debug/net8.0
/IsnaNews/DataLayer/bin
