
IsnaNews/.vs/IsnaNews/FileContentIndex/85a14dd2-ffed-4efb-a1f9-cce431e10cf1.vsidx
IsnaNews/.vs/IsnaNews/config/applicationhost.config
IsnaNews/.vs/IsnaNews/FileContentIndex/00f63caf-bf50-4f9e-8353-0ea726aeb3ca.vsidx
IsnaNews/.vs/IsnaNews/FileContentIndex/5da0b0de-e11a-4fe5-bd7c-4ef5e0ac614f.vsidx
IsnaNews/.vs/IsnaNews/FileContentIndex/6ab76776-8bf9-43b7-9c99-251b53cddc96.vsidx
IsnaNews/.vs/IsnaNews/FileContentIndex/c707626e-12c1-43bb-a558-70cd0d271863.vsidx
IsnaNews/.vs/IsnaNews/v17/.futdcache.v2
IsnaNews/.vs/IsnaNews/v17/.suo
IsnaNews/.vs/IsnaNews/v17/HierarchyCache.v1.txt
IsnaNews/.vs/ProjectEvaluation/isnanews.metadata.v7.bin
IsnaNews/.vs/ProjectEvaluation/isnanews.projects.v7.bin
IsnaNews/.vs/IsnaNews/DesignTimeBuild/.dtbcache.v2
IsnaNews/.vs/IsnaNews/FileContentIndex/1ba93190-fc65-4e4e-b20e-55089e055ff4.vsidx
IsnaNews/.vs/IsnaNews/FileContentIndex/349032c6-23f4-4ddc-9273-188b6e0f525d.vsidx
IsnaNews/.vs/IsnaNews/FileContentIndex/288d1758-a237-46f7-b58f-0379337e51b9.vsidx
IsnaNews/.vs/IsnaNews/FileContentIndex/5cee173c-e8d3-4d39-bc5a-f92cbde5f4fb.vsidx
IsnaNews/.vs/IsnaNews/FileContentIndex/4367738a-692a-4616-8295-66866bd2cb6b.vsidx
IsnaNews/.vs/IsnaNews/FileContentIndex/68de68e3-f236-4941-9490-f5ea58e1d9a2.vsidx
IsnaNews/.vs/IsnaNews/FileContentIndex/6b0ac305-8d7f-46bb-9bdc-96c8b6ece16f.vsidx
IsnaNews/.vs/IsnaNews/FileContentIndex/72c43ad6-8dc4-42d5-ac52-94ec633b0eea.vsidx
IsnaNews/.vs/IsnaNews/FileContentIndex/7b16618f-35e5-4205-8428-c8e4473c8b96.vsidx
IsnaNews/.vs/IsnaNews/FileContentIndex/7dfc32e2-0493-4e4e-8208-cc172dd0bd10.vsidx
IsnaNews/.vs/IsnaNews/FileContentIndex/aa47b008-aee1-4474-b456-28be44f48409.vsidx
IsnaNews/.vs/IsnaNews/FileContentIndex/d373db9d-098b-4513-84f6-a9a83f7f8835.vsidx
IsnaNews/.vs/IsnaNews/FileContentIndex/c70c1d90-dbf2-4e7f-b4c5-26d5cd6364e0.vsidx
IsnaNews/.vs/IsnaNews/FileContentIndex/d463629a-2d59-4bf3-aeeb-4c959804b1ac.vsidx
IsnaNews/IsnaNews/obj/Debug/net8.0/project.razor.vs.bin
IsnaNews/.vs/IsnaNews/FileContentIndex/fbcd712a-5d1d-4a51-9da5-3fdbec03c689.vsidx
IsnaNews/IsnaNews/obj/Debug/net8.0/project.razor.vs.bin
IsnaNews/IsnaNews/obj/Debug/net8.0/project.razor.vs.bin
IsnaNews/IsnaNews/obj/Debug/net8.0/project.razor.vs.bin
IsnaNews/IsnaNews/obj/Debug/net8.0/project.razor.vs.bin
/.vscode
