@using System.Data
@using DataLayer.Types
@model DataTable
@{
    var userAdminPermissions = (List<string>)TempData["AdminPermissions"];
    Layout = "AdminLayout";
    Tuple<DataTable, int, int, bool, bool> dataTableModel = new(Model, ViewBag.pageCount, ViewBag.AllPageCount,
    userAdminPermissions.Any(_ => _ == AdminPermissions.UsersPermission.Update),
        userAdminPermissions.Any(_ => _ == AdminPermissions.UsersPermission.Delete));
}
<div class="d-flex h-100">
    <!--Body start-->
    <section class="flex-fill _scrollBar h-100">
        <div class="text-center">
            <div class="mx-4 uk-card uk-card-body shadow p-3 rounded-3"
                 style="background-color: white; margin-top: 100px;" dir="rtl">
                <div class="d-flex justify-content-between">
                    <h5 class="_MyFont fw-bold">لیست کاربران</h5>
                    @if (userAdminPermissions.Any(_ => _ == AdminPermissions.UsersPermission.Add))
                    {
                        <button class="btn btn-sm btn-primary _MyFont" onclick="ShowAddModal()">
                            <span uk-icon="plus-circle"></span>
                            <span class="_MyFont">افزودن کاربر جدید</span>
                        </button>
                    }
                </div>
                @await Component.InvokeAsync("AdminDataTable", dataTableModel)
            </div>
    </section>
    <!--Body End-->

</div>
@if (userAdminPermissions.Any(_ => _ == AdminPermissions.UsersPermission.Delete))
{
    <script>
        function ValidateDelete(id) {
            var MyModal = `<div id="ValidateDeleteModal" uk-modal>
                                        <div class="uk-modal-dialog">
                                            <button class="uk-modal-close-default" type="button" uk-close></button>
                                            <div class="uk-modal-body">
                                                <h3 class="_MyFont fw-bold text-danger">آیا از حذف مطمئنید؟</h3>
                                            </div>
                                            <div class="d-flex justify-content-center _MyFont uk-modal-footer">
                                                <button class="uk-button uk-button-default mx-1 uk-modal-close">خیر</button>
                                                <button class="uk-button uk-button-danger mx-1" onclick="SetDelete(${id})">بله</button>
                                            </div>
                                        </div>
                                    </div>`
            UIkit.modal(MyModal).show()
        }
        function SetDelete(id) {
            $.ajax({
                url: '/Admin/DeleteUser?id=' + id,
                type: 'Delete',
                contentType: 'application/json',
                success: function (data) {
                    SetSuccess()
                },
                error: function (data) {
                    console.log(data.responseText)
                    ShowErrors(data.responseJSON.error)
                }
            })
        }
    </script>
}
@if (userAdminPermissions.Any(_ => _ == AdminPermissions.UsersPermission.Update))
{
    <script>
        function GetEditByIdModal(id) {
            $.ajax({
                url: '/Admin/GetEditModalUser?id=' + id,
                type: 'GET',
                contentType: 'application/json',
                success: function (data) {
                    refreshModals()
                    UIkit.modal(data).show()
                },
                error: function (data) {
                    console.log(data.responseText)
                    ShowErrors(data.responseJSON.error)
                }
            })
        }
        function Update(modelId) {
            var RoleForm = document.getElementById('RoleForm')
            var BodyForm = document.getElementById('BodyForm')

            var RoleFormData = new FormData(RoleForm);
            var BodyFormData = new FormData(BodyForm);
            var formresult = new FormData();
            for (const pair of RoleFormData.entries()) {
                formresult.append(pair[0], pair[1]);
            }
            for (const pair of BodyFormData.entries()) {
                formresult.append(pair[0], pair[1]);
            }
            formresult.append('Id', modelId)

            document.getElementById('progressDiv').classList.remove('uk-hidden')
            $.ajax({
                url: '/Admin/UpdateUser',
                type: 'POST',
                data: formresult,
                processData: false,
                contentType: false,
                xhr: function () {
                    var xhr = new window.XMLHttpRequest();
                    xhr.upload.addEventListener("progress", function (evt) {
                        if (evt.lengthComputable) {
                            var percentComplete = evt.loaded / evt.total;
                            $('.progress-bar').css({
                                width: percentComplete * 100 + '%'
                            });
                            if (percentComplete === 1) {
                                $('.progress-bar').addClass('bg-success');
                            }
                        }
                    }, false);
                    return xhr;
                },
                success: function (data) {
                    SetSuccess()
                },
                error: function (data) {
                    ShowErrors(data.responseJSON.error)
                }
            });
        }
    </script>
}
@if (userAdminPermissions.Any(_ => _ == AdminPermissions.UsersPermission.Add || _ == AdminPermissions.UsersPermission.Update))
{
    <script>
        function ProfileChange() {
            var fileInput = document.getElementById('ProfileImageUrlInput');
            var preview = document.getElementById('ProfileImageUrlPreview');


            preview.innerHTML = ''
            var file = event.target.files[0];

            if (file.type.endsWith('png') ||
                file.type.endsWith('jpeg') ||
                file.type.endsWith('jpg') ||
                file.type.endsWith('gif') ||
                file.type.endsWith('webp')) {
                IsFileValid = true;
                var reader = new FileReader();
                reader.addEventListener('load', function (event) {
                    var img = document.createElement('img');
                    img.src = event.target.result;
                    img.width = 240;
                    img.height = 240;
                    img.classList.add('d-inline-block', 'rounded-3', 'm-2')
                    preview.appendChild(img);
                });

                reader.readAsDataURL(file);
            }
            else {
                event.target.value = ''
                UIkit.notification({
                    message: '<span class="_MyFont">فرمت فایل مورد نظر فقط عکس میتواند باشد</span>',
                    status: 'danger',
                    pos: 'top-right',
                    timeout: 5000
                });

            }
        }
    </script>
}
@if (userAdminPermissions.Any(_ => _ == AdminPermissions.UsersPermission.Add))
    {
        <script>

            function Add() {
                var RoleForm = document.getElementById('RoleForm')
                var BodyForm = document.getElementById('BodyForm')

                var RoleFormData = new FormData(RoleForm);
                var BodyFormData = new FormData(BodyForm);
                var formresult = new FormData();
                for (const pair of RoleFormData.entries()) {
                    formresult.append(pair[0], pair[1]);
                }
                for (const pair of BodyFormData.entries()) {
                    formresult.append(pair[0], pair[1]);
                }
                console.log(BodyFormData.entries())
                document.getElementById('progressDiv').classList.remove('uk-hidden')
                $.ajax({
                    url: '/Admin/AddUser',
                    type: 'POST',
                    data: formresult,
                    processData: false,
                    contentType: false,
                    xhr: function () {
                        var xhr = new window.XMLHttpRequest();
                        xhr.upload.addEventListener("progress", function (evt) {
                            if (evt.lengthComputable) {
                                var percentComplete = evt.loaded / evt.total;
                                $('.progress-bar').css({
                                    width: percentComplete * 100 + '%'
                                });
                                if (percentComplete === 1) {
                                    $('.progress-bar').addClass('bg-success');
                                }
                            }
                        }, false);
                        return xhr;
                    },
                    success: function (data) {
                        SetSuccess()
                    },
                    error: function (data) {
                        ShowErrors(data.responseJSON.error)
                    }
                });
            }
            function ShowAddModal() {
                $.ajax({
                    url: '/Admin/GetAddModalUser',
                    type: 'GET',
                    contentType: 'application/json',
                    success: function (data) {
                        refreshModals()
                        UIkit.modal(data).show()
                    },
                    error: function (data) {
                        console.log(data.responseText)
                        ShowErrors(data.responseJSON.error)
                    }
                })
            }
        </script>
    }

<script>

    function ShowErrors(errors) {
        for (var i = 0; i < errors.length; i++) {
            UIkit.notification({
                message: `<span class="_MyFont" dir="rtl">${errors[i]}</span>`,
                status: 'danger',
                timeout: 7000,
                pos: 'top-right'
            })
        }
    }
    function SetSuccess() {
        UIkit.notification({
            message: `<span class="_MyFont" dir="rtl">با موفقیت ثبت شد</span>`,
            status: 'success',
            timeout: 3000,
            pos: 'top-right'
        })
        setTimeout(function () {
            window.location.reload()
        }, 3000)
    }

    function refreshModals() {
        var AddModal = document.getElementById('AddModal')
        var EditModal = document.getElementById('EditModal')
        if (EditModal != null) {
            EditModal.remove()
        }
        if (AddModal != null) {
            AddModal.remove()
        }
    }
</script>


































<!--AdminPanelToggle Script Start-->
<script>
    var Flag = true
    function adminListToggle(Toggler) {
        var adminList = document.getElementById('adminList')
        if (Flag) {
            adminList.style.display = 'block'
            Flag = false
            Toggler.setAttribute('uk-icon', 'chevron-up')
        }
        else {
            adminList.style.display = 'none'
            Flag = true
            Toggler.setAttribute('uk-icon', 'chevron-down')
        }

    }
    var ProfileSideBar = document.getElementById('ProfileSideBar')
    ProfileSideBar.addEventListener('mouseleave', function () {
        document.getElementById('adminList').style.display = 'none'
        adminListToggler.setAttribute('uk-icon', 'chevron-down')
        Flag = true
    })
</script>
<!--AdminPanelToggle Script End-->
