<section uk-scrollspy="target: > div; cls: uk-animation-scale-up; delay: 300;repeat: true" dir="rtl"
         uk-match-height class="uk-width-1-5@l uk-width-1-1 ms-auto d-flex flex-column">
    <div class="d-flex justify-content-between">
        <hr class="w-25">
        <h6 style="font-weight: 700;" uk-scrollspy-class="cls:;" class="_hover-red _MyFont text-center">
            پربازدیدترین اخبار
        </h6>
        <hr class="w-25">
    </div>


    <!--each item start-->
    <div class="d-flex d-xl-grid uk-child-width-1-2 uk-child-width-1-1@l">
        <div class="my-1 mx-1 uk-card uk-card-default uk-box-shadow-large uk-box-shadow-hover-xlarge
                                _scaleHover rounded">
            <div class="uk-text-right d-flex">
                <h5 class="h6 pt-2 _MyFont fw-bold text-dark mx-2 uk-text-break">
                    <a class="text-decoration-none _hover-red" href="">
                        سلام خوب هستی من میلاد هستم برنامه نویس درجه یک این شهر حتی اگه باور نداشته باشن
                        یه
                        روزی
                        به زودی
                        میشم!
                    </a>
                </h5>
            </div>
            <hr class="mt-1 p-0">
            <div class="uk-card-body d-flex justify-content-between m-0 pt-0 px-1 pb-1">
                <span class="pb-0 m-0 me-auto d-flex" dir="rtl">
                    <span class="_hover-green _cursor-pointor _MyFont">1402/8/12</span>
                    <span uk-icon="icon:calendar;ratio:1.2;"></span>
                </span>
            </div>
        </div>
        <div class="my-1 mx-1 uk-card uk-card-default uk-box-shadow-large uk-box-shadow-hover-xlarge
                            _scaleHover rounded">
            <div class="uk-text-right d-flex">
                <h5 class="h6 pt-2 _MyFont fw-bold text-dark mx-2 uk-text-break">
                    <a class="text-decoration-none _hover-red" href="">
                        سلام خوب هستی من میلاد هستم برنامه نویس درجه یک این شهر حتی اگه باور نداشته باشن
                        یه
                        روزی
                        به زودی
                        میشم!
                    </a>
                </h5>
            </div>
            <hr class="mt-1 p-0">
            <div class="uk-card-body d-flex justify-content-between m-0 pt-0 px-1 pb-0">
                <span class="pb-0 m-0 me-auto d-flex" dir="rtl">
                    <span class="_hover-green _cursor-pointor _MyFont">1402/8/12</span>
                    <span uk-icon="icon:calendar;ratio:1.2;"></span>
                </span>
            </div>
        </div>
    </div>
    <!--each item end-->
    <!--each item start-->
    <div class="d-flex d-xl-grid uk-child-width-1-2 uk-child-width-1-1@l">
        <div class="my-1 mx-1 uk-card uk-card-default uk-box-shadow-large uk-box-shadow-hover-xlarge
                                _scaleHover rounded">
            <div class="uk-text-right d-flex">
                <h5 class="h6 pt-2 _MyFont fw-bold text-dark mx-2 uk-text-break">
                    <a class="text-decoration-none _hover-red" href="">
                        سلام خوب هستی من میلاد هستم برنامه نویس درجه یک این شهر حتی اگه باور نداشته باشن
                        یه
                        روزی
                        به زودی
                        میشم!
                    </a>
                </h5>
            </div>
            <hr class="mt-1 p-0">
            <div class="uk-card-body d-flex justify-content-between m-0 pt-0 px-1 pb-0">
                <span class="pb-0 m-0 me-auto d-flex" dir="rtl">
                    <span class="_hover-green _cursor-pointor _MyFont">1402/8/12</span>
                    <span uk-icon="icon:calendar;ratio:1.2;"></span>
                </span>
            </div>
        </div>
        <div class="my-1 mx-1 uk-card uk-card-default uk-box-shadow-large uk-box-shadow-hover-xlarge
                            _scaleHover rounded">
            <div class="uk-text-right d-flex">
                <h5 class="h6 pt-2 _MyFont fw-bold text-dark mx-2 uk-text-break">
                    <a class="text-decoration-none _hover-red" href="">
                        سلام خوب هستی من میلاد هستم برنامه نویس درجه یک این شهر حتی اگه باور نداشته باشن
                        یه
                        روزی
                        به زودی
                        میشم!
                    </a>
                </h5>
            </div>
            <hr class="mt-1 p-0">
            <div class="uk-card-body d-flex justify-content-between m-0 pt-0 px-1 pb-0">
                <span class="pb-0 m-0 me-auto d-flex" dir="rtl">
                    <span class="_hover-green _cursor-pointor _MyFont">1402/8/12</span>
                    <span uk-icon="icon:calendar;ratio:1.2;"></span>
                </span>
            </div>
        </div>
    </div>
    <!--each item end-->
    <!--each item start-->
    <div class="d-flex d-xl-grid uk-child-width-1-2 uk-child-width-1-1@l">
        <div class="my-1 mx-1 uk-card uk-card-default uk-box-shadow-large uk-box-shadow-hover-xlarge
                                _scaleHover rounded">
            <div class="uk-text-right d-flex">
                <h5 class="h6 pt-2 _MyFont fw-bold text-dark mx-2 uk-text-break">
                    <a class="text-decoration-none _hover-red" href="">
                        سلام خوب هستی من میلاد هستم برنامه نویس درجه یک این شهر حتی اگه باور نداشته باشن
                        یه
                        روزی
                        به زودی
                        میشم!
                    </a>
                </h5>
            </div>
            <hr class="mt-1 p-0">
            <div class="uk-card-body d-flex justify-content-between m-0 pt-0 px-1 pb-0">
                <span class="pb-0 m-0 me-auto d-flex" dir="rtl">
                    <span class="_hover-green _cursor-pointor _MyFont">1402/8/12</span>
                    <span uk-icon="icon:calendar;ratio:1.2;"></span>
                </span>
            </div>
        </div>
        <div class="my-1 mx-1 uk-card uk-card-default uk-box-shadow-large uk-box-shadow-hover-xlarge
                            _scaleHover rounded">
            <div class="uk-text-right d-flex">
                <h5 class="h6 pt-2 _MyFont fw-bold text-dark mx-2 uk-text-break">
                    <a class="text-decoration-none _hover-red" href="">
                        سلام خوب هستی من میلاد هستم برنامه نویس درجه یک این شهر حتی اگه باور نداشته باشن
                        یه
                        روزی
                        به زودی
                        میشم!
                    </a>
                </h5>
            </div>
            <hr class="mt-1 p-0">
            <div class="uk-card-body d-flex justify-content-between m-0 pt-0 px-1 pb-0">
                <span class="pb-0 m-0 me-auto d-flex" dir="rtl">
                    <span class="_hover-green _cursor-pointor _MyFont">1402/8/12</span>
                    <span uk-icon="icon:calendar;ratio:1.2;"></span>
                </span>
            </div>
        </div>
    </div>
    <!--each item end-->
    <!--Ads Start-->
    <section uk-scrollspy="target: > div; cls: uk-animation-scale-up; delay: 500;repeat: true" dir="rtl"
             class="text-center w-100 my-2 uk-child-width-1-1 d-grid mx-auto">
        <div class="my-1 uk-child-width-1-2 d-flex d-md-block">
            <a class="mx-1" href="">
                <img class="rounded-4 my-1" src="~/Resources/62812665.gif" alt="">
            </a>
            <a href="" class="mx-1">
                <img class="rounded-4 my-1" src="~/Resources/62812665.gif" alt="">
            </a>
        </div>
        <div class="my-1 uk-child-width-1-2 d-flex d-md-block">
            <a class="mx-1" href="">
                <img class="rounded-4 my-1" src="~/Resources/62812665.gif" alt="">
            </a>
            <a href="" class="mx-1">
                <img class="rounded-4 my-1" src="~/Resources/62812665.gif" alt="">
            </a>
        </div>
    </section>
    <!--Ads End-->
</section>