<footer dir="rtl" class="p-3 _MyFont ">
    <div class="container uk-child-width-1-1 d-grid" uk-grid>
        <section>
            <h4 class="text-light _MyFont mt-1">دسترسی سریع</h4>
            <hr class="text-light uk-divider-icon mt-0 mb-1">
            <div class="d-flex justify-content-around">
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">صفحه اصلی</a></li>
                    <li><a asp-controller="Archive" asp-action="Index">آرشیو اخبار</a></li>
                    <li><a asp-controller="Home" asp-action="ContactUs">ارتباط با ما</a></li>
                </ul>
                <ul>
                    <li><a asp-controller="Login" asp-action="Index">ورود به سایت</a></li>
                    <li><a asp-controller="Home" asp-action="AboutUs">درباره ما</a></li>

                </ul>
            </div>
        </section>
        <section>
            <div class="d-flex justify-content-between">
                <h5 class="_MyFont d-inline text-light">شبکه های اجتماعی</h5>
                <span>
                    <a class=" _hover-red" uk-icon="icon:instagram;ratio:1.3;"></a>
                    <a class=" _hover-red" uk-icon="icon:whatsapp;ratio:1.3;"></a>
                    <a class=" _hover-red" uk-icon="icon:twitter;ratio:1.3;"></a>
                </span>
            </div>
            <p class="text-light">
                تمامی حقوق مادی و معنوی این طرح متعلق به میلاد هاشمی می باشد و کپی برداری از این
                طرح غیر اخلاقی می باشد.
            </p>
        </section>
    </div>
</footer>